:root {
    --cor-primaria: #800000; /* Marrom escuro */
    --cor-fundo: #cc5959;    /* Vermelho claro */
    --cor-contraste: #ee4c4c; /* Vermelho mais claro */
    --cor-secundaria: rgba(235, 132, 132, 0.918); /* Cor secundária transparente */
    --cor-texto: #333333;    /* Cinza escuro */
    --cor-branco: #ffffff;   /* Branco */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.amer {
    text-align: center;
    padding: 20px;
    background-color: var(--cor-branco);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1000px;
}

.amer img {
    width: 50%; /* Reduzido para 80% da largura do contêiner */
    height: 50%;
    max-width: 80%; /* Mantido para limitar a largura máxima */
    border-radius: 8px;
}

.amer p {
    font-size: 2rem;
    background-color: var(--cor-fundo);
    color: var(--cor-branco); /* Cor de texto branca para melhor contraste */
    padding: 10px;
    border-radius: 4px;
}

.div-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.div-card {
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

.div-card img {
    width: 100%;
    height: 150px; /* Reduzido de 200px para 150px */
    object-fit: cover;
    border-bottom: 2px solid var(--cor-primaria);
}

.div-card img.amer{
    width: 150px;
    height: 150px; /* Reduzido de 200px para 150px */
    object-fit: cover;
    border-bottom: 2px solid var(--cor-primaria);
}
.div-card p {
    font-weight: bold;
    margin: 10px 0;
}

.div-card h1 {
    font-size: 0.9rem;
    margin: 10px 0;
}

@media (max-width: 1024px) {
    .div-card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .div-card {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .amer p {
        font-size: 1rem; /* Ajustado de 0.9rem para 1rem */
    }
    
    .div-card img {
        height: 150px;
    }

    .div-card h1 {
        font-size: 0.8rem;
    }
}



