body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #eb8484ea; 
}

header {
    background-color: #800505; 
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #ffffff; 
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #ee4c4c; 
}

.div-cards {
    border: 6px solid #800505; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
}

.div-card {
    background-color: #ffffff; 
    border: 2px solid #eb8484ea; 
    border-radius: 8px;
    width: 100%;
    max-width: 412px;
    flex: 1 1 calc(33.333% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0 auto;
    border: 5px solid #eb8484ea; 
    width: 100%;
    max-width: 300px; 
    height: auto;
}

img.amer {
    max-width: 600px; 
    border: none; 
    width: 500px;
    height: 500px;
}

p {
    font-size: 1.3rem;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: #eb8484ea; 
}

h1 {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #800505; 
}
p.lu{
    background-color: #800505;
}
img.lu{
    display: block;
    margin: 0 auto;
    border: 5px solid #800505; 
    width: 100%;
    max-width: 300px; 
    height: auto;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #800505; 
    color: #ffffff; 
}

footer .redes-sociais img {
    max-width: 30px;
    height: auto;
}

@media (max-width: 1024px) {
    .div-card {
        flex: 1 1 calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .div-card {
        flex: 1 1 100%;
    }

    p {
        font-size: 1.4rem;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 1.2rem;
        padding: 5px;
    }
}









