.div-cards{
    border: 6px solid #800505;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
    
}
.div-card{
    width: 412px;
    height: 480px;
    min-width: 300px;
    border: #ee4c4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff96;
}

p{
    font-size: 270%;
    margin-left: 595px;
    margin-right: 500px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

img.bol{
    margin-left: 550px;
    margin-right: 595px;
    border: 5px solid #af1515;
 
}

img.piq{
    border: 5px solid #af1515;
    width: 400px;
    height: 200px;
}

img.sil{
    border: 5px solid #af1515;
    width: 400px;
    height: 200px;
}

img.sop{
    border: 5px solid #af1515;
    width: 400px;
    height: 200px;
}

p{
    font-size: 200%;
    margin-left: 100px;
}

:root{
    background-color: rgba(235, 132, 132, 0.918);
}
p{
    font-size: 160%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgba(235, 132, 132, 0.918); 
}

h1{
    font-size: 110%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.com{
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}