h1,h2,h3{
    color: #000000;
    margin-left: 20px;
    font-size: 145%;

    
}


body{
    background-color: rgba(186, 240, 237, 0.986);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: rgb(0, 0, 0);
    font-size: larger;
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

img{
    width: 500px;
    height: 300px;
    
    margin-left: 10px;
    padding: 10px;
    
}

body{
    margin: 80px;
    border: 5px solid #048286;
    border-radius: 10px;

}


li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 170%;
    color: rgb(5, 77, 77);
    margin-left: 40px;
    background-color: #8fd1d3;
}
iframe{
    width: 500px;
    height: 300px;
    margin-left: 10px;
    padding: 10px;
    
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    background-color: #048286;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 20px;

}

#LU{
    color: rgba(20, 46, 46, 0.712);
    font-size: larger;
    text-align: center;
    font-size: 190%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover{
    color: rgba(186, 240, 237, 0.986);
}
