body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: rgba(235, 132, 132, 0.918);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
thead {
    color: #800;
}

th, td {
    padding: 12px; 
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    font-size: 1.2rem; 
    font-weight: 600;
}

td {
    font-size: 1rem; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}

td a {
    color: #800;
    text-decoration: none;
    font-weight: 500;
}

td a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    table {
        font-size: 0.9rem; 
    }

    th, td {
        padding: 10px; 
    }

    th {
        font-size: 1.1rem; 
    }
}

@media (max-width: 480px) {
    table {
        font-size: 0.8rem; 
    }

    th, td {
        padding: 8px; 
    }

    th {
        font-size: 1rem; 
    }

    td a {
        font-size: 0.9rem; 
    }
}


