:root {
    --cor-primaria: #800;
    --cor-secundaria: #ee4c4c;
    --cor-contraste: #ee4c4c;
    --cor-fundo: rgba(235, 132, 132, 0.918);
    --cor-texto: #333333;
    --cor-branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
}

header {
    background-color: #800505;
    padding: 10px 0;
}

#menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#menu ul li {
    margin: 0 15px;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

#menu ul li a:hover {
    background-color: #ee4c4c;
    border-radius: 5px;
}

#projetos {
    padding: 80px 20px;
    background-color: rgba(235, 132, 132, 0.918);
    text-align: center;
}

#projetos h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #800505;
}

.projetos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.projeto {
    background-color: rgba(235, 132, 132, 0.918);
    border-radius: 10px;
    box-shadow: 0 4px 8px #800505;
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width: 300px;
    text-align: center;
}

.projeto img {
    width: 100%;
    height: auto;
}

.projeto h3 {
    margin: 15px 0;
    color: #333;
}

.projeto p {
    padding: 10px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.projeto:hover {
    transform: translateY(-10px);
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
}

footer .redes-sociais {
    margin-top: 10px;
}

footer .redes-sociais a {
    margin: 0 10px;
}

footer .redes-sociais img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

footer .redes-sociais a:hover img {
    filter: invert(0.7);
}




h3.pro{
    color: #800505;
    font-size: 120%;
}

p.par{
    color: #800505;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}